{% extends 'rhymesapp/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>Account Created</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        This page displays your that your account has been created.
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>
{% endblock %}
